@*@model DataAccess.Entities.Kitapci*@
@model KitapciModel

@{
    ViewData["Title"] = "Ekle";
}

<h1>@ViewData["Title"]</h1>

<partial name="_CreateEdit" model="Model" />

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}